.sidebar {
  flex: 0.2;
}

.sidebar > hr {
  height: 1px;
  border: 0;
  color: rgb(143, 142, 142);
  margin-top: 10px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 750px) {
  .sidebar {
    flex: 0.1;
  }
}
